/target
**/*.rs.bk
Cargo.lock

# Pycharm
*.iws
workspace.xml

**.wasm
# Allow JS in example folders
# wasm-bindgen won't automatically create this directory.
# **/pkg/*
**/.wasm
**.d.ts
**.ts
**.js
**/node_modules/
**/target/