/* Global */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

/* loading */
.loading {
    font-size: xx-large;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 30vh;
    left: 0;
}
/* info */
.info {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;

    background-color: rgb(42, 22, 191);
    color: white;
}

.info > * {
    margin: 10px;
}