body {
    background-color: #f2d29d;
    /*font-family: 'Karla', sans-serif;*/
}


/*@media (min-width: 0px) {*/
/*body {*/
/*background-image: url("../images/background-slim.jpg");*/
/*}*/
/*}*/

/*@media (min-width: 800px) {*/
/*body {*/
/*background-image: url("../images/background-portrait.jpg");*/
/*}*/
/*}*/

/*@media (min-width: 1100px) {*/
/*body {*/
/*background-image: url("../images/background.jpg");*/
/*}*/
/*}*/

div {
    font-family: 'Karla', sans-serif;
}

span {
    font-family: 'Karla', sans-serif;
}

h1 {
    font-family: 'Karla', sans-serif;
}

h2 {
    font-family: 'Karla', sans-serif;
}

h3 {
    font-weight: normal;
    font-family: 'Karla', sans-serif;
}

h4 {
    font-weight: normal;
    font-family: 'Karla', sans-serif;
}

p {
    font-family: 'Karla', sans-serif;
}

input {
    padding: 5px 12px;
    height: 2em;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid black;
    width: 320px;
    /* Not sure why I have to specify font info here; not covered by body. */
    font-family: 'Karla', sans-serif;
    font-size: medium;
}

textarea {
    padding: 5px 12px;
    height: 2em;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid black;
    width: 320px;

    font-family: 'Karla', sans-serif;
    font-size: 14px;
}

.card {
    padding: 5px 12px;
    height: 2em;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid black;
    width: 320px;
    font-family: 'Karla', sans-serif;
    font-size: medium;
}

select {
    padding: 5px 12px;
    height: 2em;
    margin-left: 30px;
    margin-right: 30px;
}

button {
    cursor: pointer;
    border: none;
    background: #c4ddd2;
    height: 40px;
    width: 200px;
    margin: auto;
    padding: 0;  /* Prevents text from shifting on click. */
    text-align: center;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    border-radius: 4px;
}
