body {
    background-color: #5c2018;
    /*font-family: 'Karla', sans-serif;*/
    color: #f3e0dc;
}
/*https://visme.co/blog/website-color-schemes/*/  #35
/*  #4285f4   5c2018   bc4639   d4a59a    f3e0dc */


/*  Looks like we need to set all of these for a... */
a{
    color: #f3e0dc;
    text-decoration: none;
}

a:link {
    color: #f3e0dc;
    text-decoration: none;
}

a:visited {
    color: #f3e0dc;
    text-decoration: none;
}

a:hover {
    color: #d4a59a;
    text-decoration: underline;
}

div {
    font-family: 'Karla', sans-serif;
}

span {
    font-family: 'Karla', sans-serif;
}

h1 {
    font-family: 'Karla', sans-serif;
}

h2 {
    font-family: 'Karla', sans-serif;
}

h3 {
    font-weight: normal;
    font-family: 'Karla', sans-serif;
}

h4 {
    font-weight: normal;
    font-family: 'Karla', sans-serif;
}

p {
    font-family: 'Karla', sans-serif;
}

input {
    padding: 5px 12px;
    height: 2em;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid black;
    width: 320px;
    /* Not sure why I have to specify font info here; not covered by body. */
    font-family: 'Karla', sans-serif;
    font-size: medium;
}

textarea {
    padding: 5px 12px;
    height: 2em;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid black;
    width: 320px;

    font-family: 'Karla', sans-serif;
    font-size: 14px;
}

select {
    padding: 5px 12px;
    height: 2em;
    margin-left: 30px;
    margin-right: 30px;
}

button {
    cursor: pointer;
    border: none;
    background: #c4ddd2;
    height: 40px;
    width: 200px;
    margin: auto;
    padding: 0;  /* Prevents text from shifting on click. */
    text-align: center;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    border-radius: 4px;
}
